{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>blog</title>
</head>
<body>
<nav>

	<h1><a href="{% url 'home' %}" style="display:inline-block; float:left; padding-right:60%;">BLOG HOME</a></h1>

	{%if user.is_authenticated%}
	<h2 style="display:inline-block; float:right; margin-right:2rem; margin-top:0px; padding-top:0px;">{{user.username}}</h2>
	<a href ="{%url 'logout'%}" style="display:inline-block; float:right; margin-right:2rem;">logout</a>
	{%else%}
	<a href="{% url 'signup'%}" style="display:inline-block; float:right; padding-right:60%;" >SignUp</a>
	<a href="{%url 'login'%}" style="display:inline-block; float:right; margin-right:2rem;">login</a>

	{%endif%}

	<a href ="{% url 'add' %}" style="display:inline-block; float:right; margin-right:2rem;">+ add new</a>


</nav>
<br>
<p>
	{%block content%}

	{%endblock content%}
</p>

</body>
</html>